body, html {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(168, 0, 168);
    border-radius: 16px;
}

h2 {
    text-align: center;
}
#btn-add{
    width: 20%;
    font-weight: bold;
}

.container-top, #task-list-container {
    margin-top: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #72006a;
    color: white;
    cursor: pointer;
    margin-right: 8px;
}

button:hover {
    background-color: #ff00ee;
}

#task-list-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.task-item {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
}
.task-content {
    flex-grow: 1;
}
.done {
    text-decoration: line-through;
}